.card{
    margin: auto;
    margin-top: 1%;
    padding-bottom: 1%;
    max-width: 900px;
    width:100%;
    background-color: #fcecd3;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Athiti', sAns-serif !important;
}
h2,p{
    background-color: trAnsparent !important;
}
.food-name{
    font-weight: bold;
}
p{
    padding-top: 1%;
}
img{
    margin: auto; 
    max-Height: 150px;
    max-width: 200px;
    Height: 100%;
}
.wrapper{
    padding: 3% 0% 0% 2%;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.vote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width:35%; */
}
.display-vote{
    margin-left: 2%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(117, 194, 0);
    color:purple;
    font-weight: 900;
    font-size: 28px;
    border: 2px solid black;
    border-radius: 10px;
}
